<style>
	.result{
		table-layout:fixed !important;
	}
	.result td{
		word-wrap:break-word !important;
	}
	.dataTables_length {
		display:block;	
		position: relative;
		top: 2px;
	}
	.dataTable-wrapper {
		height: 300px;
		overflow: auto;
	}
	
	.button-panel {
		margin: 10px 0px 10px 0px;
	}
	
	.tableHeaderHide {
		visibility: hidden;
	}
	
	.result .headcol  { 
		color:white;
		text-align: center;
		z-index: 999; 
	}
	
	/* Datatable columns */
	.result .col1  { 
		z-index: 30; 
		text-align : right;
		padding: 1px;
		}
		
	.result .colheader  {
		 background-color : #002060;
		 width: 80px !important;		 
		 max-width: 80px !important;
		 z-index: 30; 
		 text-align: center;
		 color:#FFFFFF;
		 }
		 
	.result .colmenuheader {
		color:none; 
		background-color:white; 
		border: none;
		width: 150px !important;
		max-width: 150px !important;
	}
	
	.result .colmenubodyH{
		color: white;
		background-color : #C00000;
		 z-index: 100;
	}
	
	.result .colmenubody{
		color: white;
		background-color : #002060;
		 z-index: 100;
	}
	
	.result .colTotalbody{
		color: white;
		background-color : #595959;
		z-index: 100;
	}
	
	.result .colTotalbody2{
		color: white;
		background-color : #595959;
		z-index: 100;
		text-align : right;
	}
	
	.result .colBlankbody{
		color: white;
		height: 10px;
		border-left: none;
		border-right: none;
	}
	
	table.dataTable  thead  tr th:first-child{
		border-left : 0;
	}

	.dataTables_paginate  span {
		display: none;
	}
	
	#join-domain-desc{
		margin-left: 57px;
		font-size:0.9em;
	}
	
	.checkbox {
		padding: 0px;
		margin: 0px;
	}
	hr { margin: 5px 0 5px 0; }
	
	.tooltips {
	  position: relative;
	  /*display: inline;*/
	}
	.tooltips span {
	  position: absolute;
	  width: 200%;
	  color: #000000;
	  background: orange;
	  height: auto;
	  line-height: 20px;
	  text-align: center;
	  visibility: hidden;
	  border-radius: 4px;
	  /* white-space: nowrap; */
	}
	.tooltips span:after {
	  content: '';
	  position: absolute;
	 /* top: -22%; */
	  top: -6px;
	  left: 0%;
	  margin-left: 0px;
	  width: 0; height: 0;
	  border-bottom: 8px solid orange;
	  border-right: 8px solid transparent;
	  border-left: 8px solid transparent;
	}
	:hover.tooltips span {
	  visibility: visible;
	  opacity: 1;
	  /* bottom: -22px; */
	  top: 22px;
	  left: 0%;
	  margin-left: 0%;
	  z-index: 9999;
	}
	#search-criteria tbody td div {
		padding: 2px 0px 2px 0px;
		position: relative;
	}
	#data-criteria tbody td div {
		padding: 2px 0px 2px 0px;
		position: relative;
	}
	
	.edit-input{
		display:none;
		width: 76px; 
		max-width: 80px !important;
		z-index: -5; 
		margin-bottom: 0px;
		margin-top: 0px;
		margin-left: 0px;
		margin-right: 0px;
		text-align : right;
	}
	
	.control-input{
		
	}
	
	.control-row-key{
		display: none;
	}
	
	table.dataTable{
		margin : auto !important;
	}
	
	.getsudoMonth{
		vertical-align : middle;
	}
	
	#search-result-selected{
		margin-bottom : 10px;
	}
	
	.operation-download {
		float: left;
		vertical-align: middle;
		height: 40px;	
	}
	
	.operation-upload {
		float: left;
		vertical-align: middle;
		border: solid #AAA 2px;
		padding: 2px 2px 2px 2px;
		height: 40px;
	}
	.operation-btn {
		float: right;
		vertical-align: middle;
		height: 40px;
	}
	
	@media only screen and (min-height: 530px) {
		.search-result-height {
			height: 215px;
		}
	}
	
	@media only screen and (min-height: 560px) {
		.search-result-height {
			height: 240px;
		}
	}
	
	@media only screen and (min-height: 590px) {
		.search-result-height {
			height: 270px;
		}
	}
	
	@media only screen and (min-height: 620px) {
		.search-result-height {
			height: 300px;
		}
	}
	
	@media only screen and (min-height: 630px) {
		.search-result-height {
			height: 315px;
		}
	}
	
	@media only screen and (min-height: 700px) {
		.search-result-height {
			height: 370px;
		}
	}
	
	@media only screen and (min-height: 780px) {
		.search-result-height {
			height: 440px;
		}
	}
	
	@media only screen and (min-height: 800px) {
		.search-result-height {
			height: 450px;
		}
	}
	
	/*
	@media only screen and (min-width: 320px) {
		.search-result-height {
			height: 315px;
		}
	}
	
	@media only screen and (min-width: 1550px) {
		.search-result-height {
			height: 370px;
		}
	}
	*/
	
	/*	
	#MonthPicker_getsudoMonthSearch .ui-widget-header {
	    background: #bcbcbc;
	    font-weight: bold
	}
	
	#MonthPicker_getsudoMonthSearch .ui-state-active {
	    background: #eafcfd;
	    color: #363636
	    font-weight: bold
	}
	
	#MonthPicker_getsudoMonthSearch .ui-state-highlight{
	    background: #ffffe1;
	    color: #363636
	}
	
	#MonthPicker_getsudoMonthSearch div table tbody tr td a{
	    background: #ebebeb;
	    font-weight: bold;
	    color: #575757
	}
	*/
</style>