<style>
	.result{
		table-layout:fixed !important;
		padding-bottom : 10px;
	}
	.result td{
		word-wrap:break-word !important;
	}
	.dataTables_length {
		display:block;	
		position: relative;
		top: 2px;
	}
	.dataTable-wrapper {
		height: 300px;
		overflow: auto;
	}
	
	.button-panel {
		margin: 10px 0px 10px 0px; 
	}
	
	.tableHeaderHide {
		visibility: hidden;
	}
	
	.result .headcol  { 
		color:white;
		text-align: center;
		z-index: 999; 
	}
	
	/* Datatable columns */
	.result .col1  { width: 35px; z-index: 30; text-align : right}
	.result .colheader  { width: 80px; z-index: 30; text-align: center}	
	.result .colbody  { width: 70px; z-index: 30; text-align: right}	
	.result .colmenuheader {
		color:none; background-color:white; border: none
	}
		
	
	table.dataTable  thead  tr th:first-child{
		border-left : 0;
	}

	.dataTables_paginate  span {
		display: none;
	}
	
	#join-domain-desc{
		margin-left: 57px;
		font-size:0.9em;
	}
	
	.checkbox {
		padding: 0px;
		margin: 0px;
	}
	hr { margin: 5px 0 5px 0; }
	
	.tooltips {
	  position: relative;
	  /*display: inline;*/
	}
	.tooltips span {
	  position: absolute;
	  width: 200%;
	  color: #000000;
	  background: orange;
	  height: auto;
	  line-height: 20px;
	  text-align: center;
	  visibility: hidden;
	  border-radius: 4px;
	  /* white-space: nowrap; */
	}
	.tooltips span:after {
	  content: '';
	  position: absolute;
	 /* top: -22%; */
	  top: -6px;
	  left: 0%;
	  margin-left: 0px;
	  width: 0; height: 0;
	  border-bottom: 8px solid orange;
	  border-right: 8px solid transparent;
	  border-left: 8px solid transparent;
	}
	:hover.tooltips span {
	  visibility: visible;
	  opacity: 1;
	  /* bottom: -22px; */
	  top: 22px;
	  left: 0%;
	  margin-left: 0%;
	  z-index: 9999;
	}
	#search-criteria tbody td div {
		padding: 2px 0px 2px 0px;
		position: relative;
	}
	#data-criteria tbody td div {
		padding: 2px 0px 2px 0px;
		position: relative;
	}
	
	.edit-input{
		display:none;
		width: 100%; 
		z-index: -5; 
		margin-bottom: 0px;
		margin-top: 0px;
		text-align : right
	}
	
	.control-input{
		
	}
	
	.control-row-key{
		display: none;
	}
	
	table.dataTable{
		margin : auto !important;
	}
	
	.getsudoMonth{
		vertical-align : middle;
	}
	
	#search-result-selected{
		margin-bottom : 10px;
	}
	
	.operation-download {
		float: left;
		vertical-align: middle;
		height: 40px;	
	}
	
	.operation-validate {
		float: left;
		vertical-align: middle;
		border: solid #AAA 2px;
		padding: 2px 2px 2px 2px;
		height: 40px;
	}
	.operation-btn {
		float: right;
		vertical-align: middle;
		height: 40px;
	}
</style>