<style>
	.result{
		table-layout:fixed !important;
	}
	.result td{
		word-wrap:break-word !important;
	}
	.dataTables_length {
		display:block;	
		position: relative;
		top: 2px;
	}
	.dataTable-wrapper {
		height: 300px;
		overflow: auto;
	}
	
	/* Datatable columns */
	.result .col1  { width: 3%; text-align: center; }
	.result .col2  { width: 7%; text-align: right; }
	.result .col3  { width: 7%; text-align: left;}
	.result .col4  { width: 6%; text-align: center;  }
	.result .col5  { width: 6%; text-align: center; }
	.result .col6  { width: 10%; text-align: left; }
	.result .col7  { width: 10%; text-align: center;}
	.result .col8  { width: 10%; text-align: center;}
	.result .col9  { width: 10%; text-align: center;}
	.result .col10  { width: 10%; text-align: center;}
	.result .col11  { width: 10%; text-align: center;}
	.result .col12  { width: 10%; text-align: center;}

	.dataTables_paginate  span {
		display: none;
	}
	
	.checkbox {
		padding: 0px;
		margin: 0px;
	}
	
</style>