<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="false">
	<property name="LOG_DIR" value="/home/TMAP/BWT/log" />
 	<contextName>BW0</contextName>

	<appender name="APPLOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <prudent>true</prudent>
	    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	        <fileNamePattern>${LOG_DIR}/${CONTEXT_NAME}-%d{yyyy-MM-dd}.log</fileNamePattern>
	        <maxHistory>7</maxHistory>	        
	    </rollingPolicy>	
		<encoder>
			<pattern>%date %level [%contextName] %logger{10} [%file:%line] %msg%n
			</pattern>
		</encoder>
	</appender>
	
	<appender name="DEBUGLOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <prudent>true</prudent>
	    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	        <fileNamePattern>${LOG_DIR}/${CONTEXT_NAME}-debug-%d{yyyy-MM-dd}.log</fileNamePattern>
	        <maxHistory>7</maxHistory>	        
	    </rollingPolicy>	
		<encoder>
			<pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<logger name="th.co.toyota" level="INFO" additivity="false">
		<appender-ref ref="APPLOGFILE" />
	</logger>

	<root level="OFF">
		<appender-ref ref="DEBUGLOGFILE" />
	</root>
</configuration>